



.register{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 1rem 6%;
    flex-direction: column;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}
.form-fields{
    display: flex;
    flex-direction: column;
}